<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_blade_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,48}</string>
                <key>spriteSourceSize</key>
                <string>{38,48}</string>
                <key>textureRect</key>
                <string>{{1,51},{38,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_blade_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{1,149},{42,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_blade_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,48}</string>
                <key>spriteSourceSize</key>
                <string>{40,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{40,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_blade_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{40,46}</string>
                <key>textureRect</key>
                <string>{{1,101},{40,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Subboss_Blade.png</string>
            <key>size</key>
            <string>{42,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e851684ae80a19b3e53094f93f062401:9dac107173c45df3997b1a2d7e407a93:537839e211aa6d90b844c0e66ffda3da$</string>
            <key>textureFileName</key>
            <string>Subboss_Blade.png</string>
        </dict>
    </dict>
</plist>
