<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>subboss_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,110}</string>
                <key>spriteSourceSize</key>
                <string>{134,110}</string>
                <key>textureRect</key>
                <string>{{1,1},{134,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>subboss_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,110}</string>
                <key>spriteSourceSize</key>
                <string>{134,110}</string>
                <key>textureRect</key>
                <string>{{137,1},{134,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>subboss_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,110}</string>
                <key>spriteSourceSize</key>
                <string>{134,110}</string>
                <key>textureRect</key>
                <string>{{1,113},{134,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>subboss_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,110}</string>
                <key>spriteSourceSize</key>
                <string>{134,110}</string>
                <key>textureRect</key>
                <string>{{113,137},{134,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Subboss_Attack.png</string>
            <key>size</key>
            <string>{248,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01ad58e629c92ff85555af1ea116e383:1be90508a237b2f8b6f364cb05d8e0f0:1a52be0ce29873525751ca59a2718bef$</string>
            <key>textureFileName</key>
            <string>Subboss_Attack.png</string>
        </dict>
    </dict>
</plist>
