<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>charge_x1_bullet_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,21}</string>
                <key>spriteSourceSize</key>
                <string>{9,21}</string>
                <key>textureRect</key>
                <string>{{57,1},{9,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>charge_x1_bullet_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,11}</string>
                <key>spriteSourceSize</key>
                <string>{18,11}</string>
                <key>textureRect</key>
                <string>{{37,1},{18,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charge_x1_bullet_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,13}</string>
                <key>spriteSourceSize</key>
                <string>{17,13}</string>
                <key>textureRect</key>
                <string>{{18,1},{17,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charge_x1_bullet_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,15}</string>
                <key>spriteSourceSize</key>
                <string>{14,15}</string>
                <key>textureRect</key>
                <string>{{1,1},{14,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Charge_X1_Bullet.png</string>
            <key>size</key>
            <string>{79,16}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:486354d7b319ddd074f2c219d7ae4af8:9c29bbb0f8dc68060cb22f4832871576:ee631e9aa68778fe181bd85f808d759c$</string>
            <key>textureFileName</key>
            <string>Charge_X1_Bullet.png</string>
        </dict>
    </dict>
</plist>
