<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>charge_x2_bullet_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,17}</string>
                <key>spriteSourceSize</key>
                <string>{9,17}</string>
                <key>textureRect</key>
                <string>{{154,1},{9,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charge_x2_bullet_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,21}</string>
                <key>spriteSourceSize</key>
                <string>{20,21}</string>
                <key>textureRect</key>
                <string>{{132,1},{20,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charge_x2_bullet_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,25}</string>
                <key>spriteSourceSize</key>
                <string>{28,25}</string>
                <key>textureRect</key>
                <string>{{34,1},{28,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>charge_x2_bullet_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{98,1},{32,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charge_x2_bullet_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,27}</string>
                <key>spriteSourceSize</key>
                <string>{35,27}</string>
                <key>textureRect</key>
                <string>{{61,1},{35,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charge_x2_bullet_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,29}</string>
                <key>spriteSourceSize</key>
                <string>{31,29}</string>
                <key>textureRect</key>
                <string>{{1,1},{31,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Charge_X2_Bullet.png</string>
            <key>size</key>
            <string>{164,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bebff435411ce8ef2a1c1da14159a11a:5c66398bc70ac1c4b90ba5fd1ec7e472:9a8a613c90162a4230b5d96fa7c66b80$</string>
            <key>textureFileName</key>
            <string>Charge_X2_Bullet.png</string>
        </dict>
    </dict>
</plist>
