<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>charge_affect_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,42}</string>
                <key>spriteSourceSize</key>
                <string>{45,42}</string>
                <key>textureRect</key>
                <string>{{1,103},{45,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charge_affect_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{1,392},{34,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>charge_affect_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,38}</string>
                <key>spriteSourceSize</key>
                <string>{45,38}</string>
                <key>textureRect</key>
                <string>{{1,230},{45,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charge_affect_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,38}</string>
                <key>spriteSourceSize</key>
                <string>{45,38}</string>
                <key>textureRect</key>
                <string>{{1,270},{45,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charge_affect_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,38}</string>
                <key>spriteSourceSize</key>
                <string>{45,38}</string>
                <key>textureRect</key>
                <string>{{1,310},{45,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charge_affect_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,47}</string>
                <key>spriteSourceSize</key>
                <string>{45,47}</string>
                <key>textureRect</key>
                <string>{{1,54},{45,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charge_affect_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,40}</string>
                <key>spriteSourceSize</key>
                <string>{45,40}</string>
                <key>textureRect</key>
                <string>{{1,147},{45,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charge_affect_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,39}</string>
                <key>spriteSourceSize</key>
                <string>{45,39}</string>
                <key>textureRect</key>
                <string>{{1,189},{45,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charge_affect_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,51}</string>
                <key>spriteSourceSize</key>
                <string>{45,51}</string>
                <key>textureRect</key>
                <string>{{1,1},{45,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charge_affect_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0,0}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,42}</string>
                <key>spriteSourceSize</key>
                <string>{40,42}</string>
                <key>textureRect</key>
                <string>{{1,350},{40,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Particle_Charge_Affect.png</string>
            <key>size</key>
            <string>{47,427}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd507ca0a16bdd4edef12dcf79df32f8:d7fb49eee311cc77406029bbfc7359b4:23ad3aa5dc3773ff0d29de11a97af985$</string>
            <key>textureFileName</key>
            <string>Particle_Charge_Affect.png</string>
        </dict>
    </dict>
</plist>
