<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosion_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{13,13}</string>
                <key>textureRect</key>
                <string>{{1,42},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,15}</string>
                <key>spriteSourceSize</key>
                <string>{19,15}</string>
                <key>textureRect</key>
                <string>{{1,25},{19,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{1,1},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Particle_Explosion.png</string>
            <key>size</key>
            <string>{24,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdac2360ec5620cd85b97d564b264a48:4769ff5520cfc41bb6f07d9f68e09cc9:b9011b9043df98c1bc82958dbef4ad30$</string>
            <key>textureFileName</key>
            <string>Particle_Explosion.png</string>
        </dict>
    </dict>
</plist>
