<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ready_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,10}</string>
                <key>spriteSourceSize</key>
                <string>{72,10}</string>
                <key>textureRect</key>
                <string>{{1,1},{72,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ready_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,10}</string>
                <key>spriteSourceSize</key>
                <string>{72,10}</string>
                <key>textureRect</key>
                <string>{{75,1},{72,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ready_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,10}</string>
                <key>spriteSourceSize</key>
                <string>{72,10}</string>
                <key>textureRect</key>
                <string>{{741,1},{72,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ready_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,10}</string>
                <key>spriteSourceSize</key>
                <string>{72,10}</string>
                <key>textureRect</key>
                <string>{{815,1},{72,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ready_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,10}</string>
                <key>spriteSourceSize</key>
                <string>{72,10}</string>
                <key>textureRect</key>
                <string>{{149,1},{72,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ready_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,10}</string>
                <key>spriteSourceSize</key>
                <string>{72,10}</string>
                <key>textureRect</key>
                <string>{{223,1},{72,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ready_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,10}</string>
                <key>spriteSourceSize</key>
                <string>{72,10}</string>
                <key>textureRect</key>
                <string>{{297,1},{72,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ready_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,10}</string>
                <key>spriteSourceSize</key>
                <string>{72,10}</string>
                <key>textureRect</key>
                <string>{{371,1},{72,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ready_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,10}</string>
                <key>spriteSourceSize</key>
                <string>{72,10}</string>
                <key>textureRect</key>
                <string>{{445,1},{72,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ready_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,10}</string>
                <key>spriteSourceSize</key>
                <string>{72,10}</string>
                <key>textureRect</key>
                <string>{{519,1},{72,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ready_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,10}</string>
                <key>spriteSourceSize</key>
                <string>{72,10}</string>
                <key>textureRect</key>
                <string>{{593,1},{72,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ready_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,10}</string>
                <key>spriteSourceSize</key>
                <string>{72,10}</string>
                <key>textureRect</key>
                <string>{{667,1},{72,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Ready_Logo.png</string>
            <key>size</key>
            <string>{888,12}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:293ec4a918d1af1ffe475821d12da94b:b7b313c79368fa4872c8e86be4a8ee9f:16c107e2bb479d03483bba6efb501743$</string>
            <key>textureFileName</key>
            <string>Ready_Logo.png</string>
        </dict>
    </dict>
</plist>
