<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>metall_awake_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,12}</string>
                <key>spriteSourceSize</key>
                <string>{20,12}</string>
                <key>textureRect</key>
                <string>{{1,111},{20,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metall_awake_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,17}</string>
                <key>spriteSourceSize</key>
                <string>{20,17}</string>
                <key>textureRect</key>
                <string>{{1,92},{20,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metall_awake_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,21}</string>
                <key>spriteSourceSize</key>
                <string>{22,21}</string>
                <key>textureRect</key>
                <string>{{1,47},{22,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metall_awake_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,23}</string>
                <key>spriteSourceSize</key>
                <string>{20,23}</string>
                <key>textureRect</key>
                <string>{{1,1},{20,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>metall_awake_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,20}</string>
                <key>spriteSourceSize</key>
                <string>{22,20}</string>
                <key>textureRect</key>
                <string>{{1,70},{22,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metall_awake_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{1,23},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Enemies_Metall_Awake.png</string>
            <key>size</key>
            <string>{25,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f845ee4bf3448b97f4f5cd6530f92d8b:14e7e739ea507fe0b4712a067caee53e:08eba0fa4d18a067366c5be4c5e1dee8$</string>
            <key>textureFileName</key>
            <string>Enemies_Metall_Awake.png</string>
        </dict>
    </dict>
</plist>
