<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>metall_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{28,77},{22,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>metall_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,24}</string>
                <key>spriteSourceSize</key>
                <string>{23,24}</string>
                <key>textureRect</key>
                <string>{{30,28},{23,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>metall_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,25}</string>
                <key>spriteSourceSize</key>
                <string>{22,25}</string>
                <key>textureRect</key>
                <string>{{28,53},{22,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>metall_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,25}</string>
                <key>spriteSourceSize</key>
                <string>{21,25}</string>
                <key>textureRect</key>
                <string>{{1,78},{21,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>metall_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,25}</string>
                <key>spriteSourceSize</key>
                <string>{24,25}</string>
                <key>textureRect</key>
                <string>{{30,1},{24,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metall_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{1,29},{20,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>metall_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{1,51},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metall_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{1,1},{27,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Enemies_Metall_Attack.png</string>
            <key>size</key>
            <string>{55,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a25132f14e32aacc1c55d66ac5ba5393:c2965b45f68e4a7075b56e4acd06e325:c9df78ac5a7a885c24c9751a21a2ce91$</string>
            <key>textureFileName</key>
            <string>Enemies_Metall_Attack.png</string>
        </dict>
    </dict>
</plist>
