<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SNES - Mega Man &amp; Bass (JPN) - Enemies - Metall SV-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,23}</string>
                <key>spriteSourceSize</key>
                <string>{20,23}</string>
                <key>textureRect</key>
                <string>{{200,1},{20,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SNES - Mega Man &amp; Bass (JPN) - Enemies - Metall SV-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{176,1},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SNES - Mega Man &amp; Bass (JPN) - Enemies - Metall SV-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,24}</string>
                <key>spriteSourceSize</key>
                <string>{23,24}</string>
                <key>textureRect</key>
                <string>{{151,1},{23,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SNES - Mega Man &amp; Bass (JPN) - Enemies - Metall SV-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,25}</string>
                <key>spriteSourceSize</key>
                <string>{22,25}</string>
                <key>textureRect</key>
                <string>{{104,1},{22,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SNES - Mega Man &amp; Bass (JPN) - Enemies - Metall SV-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,25}</string>
                <key>spriteSourceSize</key>
                <string>{21,25}</string>
                <key>textureRect</key>
                <string>{{128,1},{21,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SNES - Mega Man &amp; Bass (JPN) - Enemies - Metall SV-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,25}</string>
                <key>spriteSourceSize</key>
                <string>{24,25}</string>
                <key>textureRect</key>
                <string>{{78,1},{24,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SNES - Mega Man &amp; Bass (JPN) - Enemies - Metall SV-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{29,1},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SNES - Mega Man &amp; Bass (JPN) - Enemies - Metall SV-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{51,1},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SNES - Mega Man &amp; Bass (JPN) - Enemies - Metall SV-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{1,1},{27,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Enemies_Metall_Attack.png</string>
            <key>size</key>
            <string>{221,29}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f86b74b2ee915da191ec166435e47288:0953a12078c8bf88b3f24fa9584de9f6:c9df78ac5a7a885c24c9751a21a2ce91$</string>
            <key>textureFileName</key>
            <string>Enemies_Metall_Attack.png</string>
        </dict>
    </dict>
</plist>
