<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>metall_sleep_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{1,1},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metall_sleep_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,21}</string>
                <key>spriteSourceSize</key>
                <string>{22,21}</string>
                <key>textureRect</key>
                <string>{{1,25},{22,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metall_sleep_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,17}</string>
                <key>spriteSourceSize</key>
                <string>{20,17}</string>
                <key>textureRect</key>
                <string>{{1,48},{20,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metall_sleep_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,12}</string>
                <key>spriteSourceSize</key>
                <string>{20,12}</string>
                <key>textureRect</key>
                <string>{{1,82},{20,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metall_sleep_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,13}</string>
                <key>spriteSourceSize</key>
                <string>{20,13}</string>
                <key>textureRect</key>
                <string>{{1,67},{20,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>metall_sleep_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,12}</string>
                <key>spriteSourceSize</key>
                <string>{20,12}</string>
                <key>textureRect</key>
                <string>{{1,82},{20,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Enemies_Metall_Sleep.png</string>
            <key>size</key>
            <string>{24,95}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05278421e6f2fad64d6c3e2e58c0b52a:cd9dcbafc3e315db00fdb5c4f1bde69a:0e602a612557f9a1870fb1b81c2abb21$</string>
            <key>textureFileName</key>
            <string>Enemies_Metall_Sleep.png</string>
        </dict>
    </dict>
</plist>
