<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item-123.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,43}</string>
                <key>spriteSourceSize</key>
                <string>{34,43}</string>
                <key>textureRect</key>
                <string>{{84,1},{34,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item-124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,47}</string>
                <key>spriteSourceSize</key>
                <string>{38,47}</string>
                <key>textureRect</key>
                <string>{{39,56},{38,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{42,1},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,53}</string>
                <key>spriteSourceSize</key>
                <string>{39,53}</string>
                <key>textureRect</key>
                <string>{{1,1},{39,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,50}</string>
                <key>spriteSourceSize</key>
                <string>{36,50}</string>
                <key>textureRect</key>
                <string>{{1,56},{36,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-135.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,47}</string>
                <key>spriteSourceSize</key>
                <string>{33,47}</string>
                <key>textureRect</key>
                <string>{{79,73},{33,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item-136.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,43}</string>
                <key>spriteSourceSize</key>
                <string>{34,43}</string>
                <key>textureRect</key>
                <string>{{84,37},{34,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Megaman_Jump.png</string>
            <key>size</key>
            <string>{128,107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca5d52ab38e45161d3bff62368a3e24a:67936fa4fa166a93eb047091c320f89f:cc0c4c2ac8c8172cb93a76dbef0cc0a7$</string>
            <key>textureFileName</key>
            <string>Megaman_Jump.png</string>
        </dict>
    </dict>
</plist>
