<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fall_shoot_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,53}</string>
                <key>spriteSourceSize</key>
                <string>{41,53}</string>
                <key>textureRect</key>
                <string>{{1,1},{41,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fall_shoot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,50}</string>
                <key>spriteSourceSize</key>
                <string>{43,50}</string>
                <key>textureRect</key>
                <string>{{1,44},{43,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fall_shoot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,47}</string>
                <key>spriteSourceSize</key>
                <string>{43,47}</string>
                <key>textureRect</key>
                <string>{{53,44},{43,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fall_shoot_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,43}</string>
                <key>spriteSourceSize</key>
                <string>{41,43}</string>
                <key>textureRect</key>
                <string>{{56,1},{41,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Megaman_Fall_Shoot.png</string>
            <key>size</key>
            <string>{101,88}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d817455b4375dc9e88dba082320f3c9b:28f54d8d6db088ce988d89288230148e:88be8ac244d5bff6a430d233d8b546d6$</string>
            <key>textureFileName</key>
            <string>Megaman_Fall_Shoot.png</string>
        </dict>
    </dict>
</plist>
