<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>teleport_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,48}</string>
                <key>spriteSourceSize</key>
                <string>{4,48}</string>
                <key>textureRect</key>
                <string>{{258,35},{4,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>teleport_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,35}</string>
                <key>spriteSourceSize</key>
                <string>{37,35}</string>
                <key>textureRect</key>
                <string>{{40,1},{37,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>teleport_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,40}</string>
                <key>spriteSourceSize</key>
                <string>{37,40}</string>
                <key>textureRect</key>
                <string>{{1,1},{37,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleport_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{310,1},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleport_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{346,1},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleport_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,32}</string>
                <key>spriteSourceSize</key>
                <string>{37,32}</string>
                <key>textureRect</key>
                <string>{{159,1},{37,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleport_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,32}</string>
                <key>spriteSourceSize</key>
                <string>{37,32}</string>
                <key>textureRect</key>
                <string>{{198,1},{37,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleport_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,32}</string>
                <key>spriteSourceSize</key>
                <string>{37,32}</string>
                <key>textureRect</key>
                <string>{{237,1},{37,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleport_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,32}</string>
                <key>spriteSourceSize</key>
                <string>{38,32}</string>
                <key>textureRect</key>
                <string>{{119,1},{38,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleport_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,48}</string>
                <key>spriteSourceSize</key>
                <string>{8,48}</string>
                <key>textureRect</key>
                <string>{{46,52},{8,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>teleport_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{77,1},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleport_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,48}</string>
                <key>spriteSourceSize</key>
                <string>{10,48}</string>
                <key>textureRect</key>
                <string>{{46,40},{10,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>teleport_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,43}</string>
                <key>spriteSourceSize</key>
                <string>{16,43}</string>
                <key>textureRect</key>
                <string>{{1,43},{16,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>teleport_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{276,1},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleport_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,25}</string>
                <key>spriteSourceSize</key>
                <string>{40,25}</string>
                <key>textureRect</key>
                <string>{{96,35},{40,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleport_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,25}</string>
                <key>spriteSourceSize</key>
                <string>{38,25}</string>
                <key>textureRect</key>
                <string>{{138,35},{38,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleport_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,25}</string>
                <key>spriteSourceSize</key>
                <string>{38,25}</string>
                <key>textureRect</key>
                <string>{{178,35},{38,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleport_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,25}</string>
                <key>spriteSourceSize</key>
                <string>{38,25}</string>
                <key>textureRect</key>
                <string>{{218,35},{38,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Megaman_Teleport.png</string>
            <key>size</key>
            <string>{381,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5186cefc5a57ade68f07e3b145fd62bc:b23c6c666ffc778f3d8a05e347a6ec25:9def508c25ec17f6772e00646cf76dad$</string>
            <key>textureFileName</key>
            <string>Megaman_Teleport.png</string>
        </dict>
    </dict>
</plist>
