<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item-115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{34,36}</string>
                <key>textureRect</key>
                <string>{{1,63},{34,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item-116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,29}</string>
                <key>spriteSourceSize</key>
                <string>{52,29}</string>
                <key>textureRect</key>
                <string>{{1,32},{52,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,29}</string>
                <key>spriteSourceSize</key>
                <string>{54,29}</string>
                <key>textureRect</key>
                <string>{{1,1},{54,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Megaman_Sliding.png</string>
            <key>size</key>
            <string>{56,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f179a451140d053e9d22ddccf81b2cdf:b732ec357f2429521860d1919313d0c1:4db1bf52e9142e9132269417686034d0$</string>
            <key>textureFileName</key>
            <string>Megaman_Sliding.png</string>
        </dict>
    </dict>
</plist>
