<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_shoot_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,40}</string>
                <key>spriteSourceSize</key>
                <string>{41,40}</string>
                <key>textureRect</key>
                <string>{{1,204},{41,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_shoot_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{1,40},{39,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_shoot_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{1,330},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_shoot_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,41}</string>
                <key>spriteSourceSize</key>
                <string>{40,41}</string>
                <key>textureRect</key>
                <string>{{1,372},{40,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_shoot_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,42}</string>
                <key>spriteSourceSize</key>
                <string>{39,42}</string>
                <key>textureRect</key>
                <string>{{1,163},{39,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_shoot_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,41}</string>
                <key>spriteSourceSize</key>
                <string>{42,41}</string>
                <key>textureRect</key>
                <string>{{1,414},{42,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_shoot_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,39}</string>
                <key>textureRect</key>
                <string>{{1,122},{44,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_shoot_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,39}</string>
                <key>spriteSourceSize</key>
                <string>{42,39}</string>
                <key>textureRect</key>
                <string>{{1,81},{42,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_shoot_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1,246},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_shoot_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,41}</string>
                <key>spriteSourceSize</key>
                <string>{37,41}</string>
                <key>textureRect</key>
                <string>{{1,1},{37,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>run_shoot_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,41}</string>
                <key>spriteSourceSize</key>
                <string>{42,41}</string>
                <key>textureRect</key>
                <string>{{1,457},{42,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_shoot_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,40}</string>
                <key>textureRect</key>
                <string>{{1,288},{44,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Megaman_Run_Shoot.png</string>
            <key>size</key>
            <string>{46,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e8c245869ad76b7cc1f3f52818d8896:818c8be02fa127dfad55f089977aa0d0:7e50ad0c349f71b7a7085168304185ac$</string>
            <key>textureFileName</key>
            <string>Megaman_Run_Shoot.png</string>
        </dict>
    </dict>
</plist>
