<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>teleport_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,48}</string>
                <key>spriteSourceSize</key>
                <string>{4,48}</string>
                <key>textureRect</key>
                <string>{{1,111},{4,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>teleport_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,48}</string>
                <key>spriteSourceSize</key>
                <string>{8,48}</string>
                <key>textureRect</key>
                <string>{{52,46},{8,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleport_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,48}</string>
                <key>spriteSourceSize</key>
                <string>{10,48}</string>
                <key>textureRect</key>
                <string>{{40,46},{10,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleport_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,43}</string>
                <key>spriteSourceSize</key>
                <string>{16,43}</string>
                <key>textureRect</key>
                <string>{{43,1},{16,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleport_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1,77},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleport_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,35}</string>
                <key>spriteSourceSize</key>
                <string>{37,35}</string>
                <key>textureRect</key>
                <string>{{1,40},{37,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleport_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,40}</string>
                <key>spriteSourceSize</key>
                <string>{37,40}</string>
                <key>textureRect</key>
                <string>{{1,1},{37,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Megaman_Teleport_Init.png</string>
            <key>size</key>
            <string>{61,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60ada124743de4c51f06e97630384634:82a2d9cf78687769dfcd9066ed446ca7:2a40e7675171d060609ab1c7fc1c3d57$</string>
            <key>textureFileName</key>
            <string>Megaman_Teleport_Init.png</string>
        </dict>
    </dict>
</plist>
